In [1]:
# dependencies
import pandas as pd

In [3]:
# load and read csv
data = pd.read_csv('data/train.csv')
data.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    913000 non-null  object
 1   store   913000 non-null  int64
 2   item    913000 non-null  int64
 3   sales   913000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 27.9+ MB

In [6]:
# date column to datetime
data['date'] = pd.to_datetime(data['date'])

In [11]:
# combine, store, and item column as time series
data['store'] = ['store_' + str(i) for i in data['store']]
data['item'] = ['item_' + str(i) for i in data['item']]
data['time_series'] = data[['store', 'item']].apply(lambda x:'_'.join(x), axis=1)
data.drop(['store', 'item'], axis=1, inplace=True)

In [12]:
# extract features from date
data['month'] = [i.month for i in data['date']]
data['year'] = [i.year for i in data['date']]
data['day_of_week'] = [i.dayofweek for i in data['date']]
data['day_of_year'] = [i.dayofyear for i in data['date']]
data.head()

,date,sales,time_series,month,year,day_of_week,day_of_year
0,2013-01-01,13,store_store_store_store_1_item_item_1,1,2013,1,1
1,2013-01-02,11,store_store_store_store_1_item_item_1,1,2013,2,2
2,2013-01-03,14,store_store_store_store_1_item_item_1,1,2013,3,3
3,2013-01-04,13,store_store_store_store_1_item_item_1,1,2013,4,4
4,2013-01-05,10,store_store_store_store_1_item_item_1,1,2013,5,5

In [13]:
# check the unique time series
data['time_series'].nunique()

500